.navbar {
  border: none;
  background: #ffffff;
  box-shadow: 10px 0 50px 0 rgba(61, 110, 146, 0.10);
  .nav {
    height: 75px;
  }
  .navbar-brand {
    height: 75px;
    padding: 28px 25px;
  }
  .navbar-nav {
    >li>a {
      padding: 28px 25px;
      color: #25265F;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 600;
      line-height: 17px;
    }
    >li>.dropdown-menu {
      border-radius: 8px;
      margin-top: -5px;
      border: none;
      top: calc(100% + 5px);
    }
  }
}


.dropdown-menu:before {
  border-bottom: 11px solid white;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  left: 12px;
  top: -11px;
}